body {
	background-color: rgb(10,10,10);
	color: white;
	font-family: "Cinzel", serif;
	text-align: center;
}

.item {
	margin: 15px;
	padding: 15px;
	border-bottom: 3px double rgb(10,10,10);
}

#header {
	background-color: rgba(255,150,150,0.5);
	color: white;
	font-family: "Cinzel", serif;
	text-align: center;
}
#itemsList {
	background-color: rgba(255,150,150,0.5);
}

#subTotal {
	background-color: rgba(255,150,150,0.5);
	bottom: 0;
	color: white;
	font-family: "Cinzel", serif;
	position: fixed;
	text-align: right;
	width: 100%;
}